/* ==========================================================================
   Nguyen Trong Nghia
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

html, body {
    overflow-x: hidden;
}

body {
    font-size: 15px;
    background: #fdfdfd;
    font-family: "Open Sans", Tahoma, Arial, Sans-Serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
form {
    margin: 0
}
a {
	color: #333; 
    cursor: pointer
}
a, a:focus {
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #0076a1;
}
input, input:focus {
    outline: none
}

body,h1,h2,h3,h4,p,a {
	font-family: 'Open Sans', sans-serif;
}


header .wrap-menu{
	position: absolute;
	min-height: 90px;
}
#container .container-full{
	max-width: 1300px;
	height: auto;
	padding: 0px 15px;
	margin: auto;
}

header {
    background: #691b1d;
}

header .wrap-menu {
    position: relative;
    min-height: 90px;
}

header .wrap-menu h1 {
    padding: 20px 0px;
    display: inline-block;
}

header .wrap-menu h1 img {
    width: 100%;
}

header .wrap-menu button span.icon-bar {
    background: #691b1d;
}

header .wrap-menu button {
    margin: 0px;
    background: #fff568;
}
header .wrap-menu ul {
    margin-bottom: 0px;
    padding: 25px 80px;
}
header .wrap-menu ul li {
    background: none;
}
header .wrap-menu ul li a {
    border: none;
    color: #fff;
    padding: 10px 17px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 15px;
}
header .wrap-menu ul li a:hover {
    background: none;
    color: #fff568;
}

header .hotline {
    position: absolute;
    top: 15px;
    right: 0px;
}

#wrap-banner, #wrap-product {
    background: #691b1d;
}


.wrap-banner img{
	width: 100%;
	height: auto;
	padding: 10px;
}
.wrap-product{
	padding: 20px;
	background-color: #691b1d;
}

.wrap-product h3{
	color: #f5e563;
}
.wrap-product hr{
	width: 95px;
	height: 2px;
	background: #fff568;
	float: left;
	margin: -15px 0px 0px 20px;
}
.wrap-info{
	padding: 10px 32px 20px 18px;
}
.clearfix{
	clear: both;
}

.info-product h5{
	font-size: 20px;
    background: #e1e1e1;
    font-weight: bold;
    padding: 7px;
    margin-top: 0px;
    color: #691b1d;
}

.info-product p{
	font-size: 18px;
    background: #ffffff;
    padding: 10px;
    margin: -10px 0px 1px 0px;
    color: #7b3638;
}
.fa-tag{
	margin-left: 30px;
}
.wrap-icon{
    width: 70%;
    text-align: center;

}
.icon{
    text-align: center;
    left: 25%;
}
.icon img{
   padding: 20px;
   margin-top: -20px;
}

.info-company{
    text-align: center;
    padding: 30px 10px;
    color: #691b1d;
}
.wrap-info-company h3{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
}
.wrap-info-company hr{
    width: 95px;
    height: 2px;
    background: #691b1d;
    font-size: 0;
    border: 0;
}
.wrap-info-company p{
    font-size: 18px;
    width: 70%;
    margin-left: 15%;
}
.wrap-info-company h4{
    font-size: 32px;
    font-weight: bold;
}
.feeling-user{
    background-color: #731b1d;
    margin-top: 80px;
    text-align: center;
}
.feeling-user h3{
    padding-top: 40px;
    font-weight: bold;
    color: #FFF568;
    font-size: 32px;
}
.feeling-user hr{
    width: 95px;
    height: 2px;
    background: #FFF568;
    font-size: 0;
    border: 0;
}

.comment{
    background-color: #EBEBEB;
    height: 400px;
}


/*Footer*/

.about-footer{
    background-color: #691B1D;
    padding: 20px 0px 50px 0px;
}
.about-footer h4{
    background-color: #5C1315;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    padding: 10px 0px 10px 20px;
    color: #F7F7F7;
    width: 93%;
    margin: auto;
}
.about-footer p{
    width: 90%;
    margin: auto;
    color: #F7F7F7;
    font-size: 14px;
}

.about-company-footer{
    padding-bottom: 30px;
}

.footer .about-footer .about-company-footer .social a{
    color: #fff;
    padding: 12px;
    border: 1px solid #fff;
    margin-right: 3px;
    border-radius: 10px 0px 10px 0px;
}
.footer .about-footer .about-company-footer .social a:hover{
    background-color: #fff;
    color: #691B1D;
}

.new-knowledge-footer .item img{
    width: 84px;
    height: 84px;
    float: left;
    margin: 0px 20px 30px 15px;
}
.new-knowledge-footer .item .content h5{
    font-size: 18px;
    color: #F7F7F7;
}
.new-knowledge-footer .item .content p {
    font-size: 14px;
}
.new-knowledge-footer hr{
    width: 92%;
    margin: 20px 5px 0px 15px;
    padding: 0px 0px 20px 0px;
}
.contact-footer form{
    width: 93%;
    margin: 0px 0px 0px 15px;
}
.contact-footer form input, .contact-footer form textarea{
    background-color: #691b1d;
    border-radius: inherit;
    margin-bottom: 20px;
    color: #F7F7F7;
}
.contact-footer form button{
    width: 140px;
    height: 45px;
    background: #691b1d;
    float: right;
    text-shadow: none;
    color: #F7F7F7;
}
.contact-footer form button:hover{
    background: none;
    color: #F7F7F7;
}
footer .footer .info-company-footer{
    background-color: #5c1315;
    padding: 20px;
    margin: auto;
    text-align: center;
    font-size: 17px;
    color: #F7F7F7;
}
 /* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
	#container .container-full {
        width: 100%;
    }

    header .wrap-menu ul {
        margin-bottom: 0px;
        padding: 25px 0px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    header .navbar-header {
        width: 25%
    }

    header .hotline {
        width: 25%;
        top: 50%;
        transform: translateY(-50%);
    }

    
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#container .container-full {
        width: 100%;
    }

    header .wrap-menu ul {
        margin-bottom: 0px;
        padding: 25px 0px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    header .navbar-header {
        width: 25%
    }

    header .hotline {
        width: 25%;
        top: 50%;
        transform: translateY(-50%);
    }

    header .wrap-menu ul li a {
        font-size: 14px;
    }

  
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	header .navbar-header h1 {
        padding: 15px 0px;
        width: 50%;
        line-height: 0;
    }

    header .wrap-menu ul {
        padding: 0;
    }

    header .hotline {
        width: 40%;
        position: initial;
        display: block;
        padding-bottom: 15px;
    }

    header .wrap-menu button {
        position: absolute;
        top: 15px;
        right: 0;
    }

    
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
	header .navbar-header h1 {
        padding: 15px 0px;
        width: 60%;
        line-height: 0;
    }

    header .wrap-menu ul {
        padding: 0;
    }

    header .hotline {
        width: 50%;
        position: initial;
        display: block;
        padding-bottom: 15px;
    }

    header .wrap-menu button {
        position: absolute;
        top: 15px;
        right: 0;
    }

    
}
